.logo {
    max-width: 50px; /* ajusta el tamaño de la imagen según sea necesario */
    margin-right: 10px; /* espacio entre el logo y el texto */
    vertical-align: middle; /* alinea verticalmente la imagen */
}
